//去除所有a标签的下划线
a {
    text-decoration: none; //去除下划线
}

.post-a-unstyled{
    margin-left: 10px;
    cursor: pointer;//修改鼠标指针样式
}
article h3 {
    color: rgb(14, 138, 235);    
    border-top-style: none;
    border-bottom-style: none;
    border-left-style: solid;
    border-right-style: none;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 5px;
    border-right-width: 1px;
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-left-color: rgb(14, 136, 235);
    border-right-color: rgb(0, 0, 0);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-left: 10px;
}

article h4{
    color: rgb(14, 138, 235);
}

article h5 {
    color: rgb(14, 138, 235);
}

.container blockquote:before{
    quotes: none;
    
}
.container blockquote {
    padding: 15px 10px;
    font-size: 14px;
    line-height: 18px;
    padding-right: 15px;
    margin-left: 0;
    color: #819198;
    border-left: 6px solid #dce6f0;
    background: #f2f7fb;
    display: block;
}

// --------表格样式 start--------
table {
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
}

table td,table th {
    border: 1px solid #cad9ea;
    color: #666;
    height: 30px;
}

table thead th {
    background-color: #CCE8EB;
}
table td {
    padding: 0 30px;
}
table tr:nth-child(odd) {
    background: #fff;
}

table tr:nth-child(even) {
    background: #F5FAFA;
}
//--------表格样式 end--------

//--------文章样式 start--------
// 文章中的粗体
article strong {
    font-size: 25px;
    color: rgb(212, 15, 15);
    margin: 5px 5px;
    background-color: #ecf800;
}
// 文章中的斜体
article em {
    font-size: 20px;
    color: rgb(0, 166, 255);
    margin: 5px 5px;
}

// 文章中的图片
article img {
    border: 2px dashed rgb(14, 149, 217);
    border-radius: 10px;
    margin: 10px;
}
//--------文章样式 start--------